body {
    font: normal 18px Arial, sans-serif;
}

#petlist {
    margin-top: 1rem;
    list-style: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid lightgreen;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: lightgreen transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.button {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.08929em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 8px 0 8px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 160px;
    height: 48px;
    border: none;
    outline: none;
    /* @alternate */
    line-height: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #6200ee; 
    color: #fff;
}

ol {
    margin: 0;
    padding-left: 0;
}

li {
    margin-top: 16px;
    margin-bottom: 16px;
}

li p img {
    border: 2px solid #f0f0f0;
}

span i {
    font-size: 14px;
}